---
import Section from "@/components/Section.astro";
import DataProjects from "@/data/projects.json";
---

<Section>
  <div class="flex flex-col">
    {
      DataProjects.map(({ name, description, url, date }, index) => (
        <div
          class={`flex items-center justify-between p-3 text-sm border-dashed border-x border-b cursor-pointer select-none hover:bg-white/5 border-white/10 ${index === 0 && "border-t"}`}
        >
          <h3 class="font-medium">{name.slice(0, 30)}</h3>
          <p class="text-white/50">{description.slice(0, 200)}</p>
          <div class="text-right">
            <a
              href={url}
              rel="noopener noreferrer"
              target="_blank"
              class="block text-blue-500 hover:underline"
            >
              {url.slice(8, 40)}
            </a>
            <span class="text-white/50">{date}</span>
          </div>
        </div>
      ))
    }
  </div>
</Section>
