---
import yxsifdevAv from "../../../public/yxsifdev-av.jpg";
import { links } from "../../consts/links";

const currentPath = Astro.url.pathname;

const isActive = (url: string) => currentPath === url;
---

<header>
  <div class="flex justify-between px-4 py-3">
    <div class="flex items-center gap-x-3">
      <img src={yxsifdevAv.src} alt="yxsifdev" class="rounded-md size-10" />
      <a href="/" class="text-lg font-bold"
        >yxsifdev <span
          class="px-2 py-0.5 text-xs rounded-full bg-indigo-500/20 border-indigo-500 font-medium border"
          >Developer</span
        ></a
      >
    </div>
    <nav>
      <ul class="flex items-center px-4 pt-2 pb-3 text-sm">
        <li>
          <a
            href="/"
            class={`transition-colors ${isActive("/") ? "text-white bg-white/10 py-2 px-4 rounded-md" : "hover:text-white py-2 px-4 text-white/50 border-transparent"}`}
          >
            Inicio
          </a>
        </li>
        <li>
          <a
            href="/projects"
            class={`transition-colors ${isActive("/projects") ? "text-white bg-white/10 py-2 px-4 rounded-md" : "hover:text-white py-2 px-4 text-white/50 border-transparent"}`}
          >
            Proyectos
          </a>
        </li>
        <li>
          <a
            href="/otros"
            class={`transition-colors ${isActive("/otros") ? "text-white bg-white/10 py-2 px-4 rounded-md" : "hover:text-white py-2 px-4 text-white/50 border-transparent"}`}
          >
            Otros
          </a>
        </li>
      </ul>
    </nav>
    <div class="flex">
      {
        links.map(({ Icon, url }) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="p-2 border border-transparent rounded-md hover:bg-white/20 hover:border-white"
          >
            <Icon />
          </a>
        ))
      }
    </div>
  </div>
</header>
